<!-- BANNER -->
<%= image_tag 'campus_fjerdingen.jpg', id: 'campus_banner' %>
<div id="banner" style="padding-top: 200px;">
  <!-- BANNER TEKST HER-->
  <div class="col-md-6 col-lg-6 pl-md-5 pl-lg-5 pl-3 text-light pb-5" id="banner_text">
    <h1 id="klasse_tittel">Campus</h1>
    <h2 id="campus_tittel">Fjerdingen</h2>
  </div>
</div>
<div class="container-fluid no-gutters pt-5 position-relative">
  <!-- GENERELL INFO -->
  <div class="card card-body background_grey mt-5">
    <div class="row pb-md-3 pb-lg-3">
      <div class="col-md-4 col-lg-4 col-12">
        <h2><%= t('opening_hours').capitalize %></h2>
        <p><%= t('Kvadraturen.weekdays')%>: 08.00 – 24.00<br>
          <%= t('fjerdingen.weekends')%>: 10.00 – 23.00<br>
          <%= t('fjerdingen.telephone')%>: 22 59 60 00</p>
      </div>

      <div class="col-md-4 col-lg-4 col-12">
        <h2><%= t('fjerdingen.employees')%></h2>
        <p class="pt-2">
          <%= t('fjerdingen.reception')%> <%= t('fjerdingen.weekdays')%>: 08.00 – 16.00</p>
      </div>

      <div class="col-md-4 col-lg-4 col-12">
        <h2><%= t('fjerdingen.address')%></h2>
        <p>Chr. Krohgs gate 32<br>0186 Oslo</p>
      </div>
    </div>
  </div>
  <!-- NÆR INFORMASJON -->
  <div class="card card-body background_grey mt-5">
    <div class="row">
      <div class="col-md-4 col-lg-4 card col-12 background_blue mr-md-5 mr-lg-5 text-light p-0">
        <div class="card card-header">
          <h2><%= t('fjerdingen.surroundings')%>:</h2>
        </div>
        <div class="card card-body background_blue">
          <div><%= t('fjerdingen.stores')%></div>
          <ul>
             <li class="butikker" onclick="goToByScroll('map'); butikkRute(<%= @foodexpress.polyline %>, <%= @foodexpress.bounds %>);">Food Express</li>
             <li class="butikker" onclick="goToByScroll('map'); butikkRute(<%= @prix.polyline %>, <%= @prix.bounds %>);">Coop Prix (Hausmannsgate)</li>
             <li class="butikker" onclick="goToByScroll('map'); butikkRute(<%= @rema1000.polyline %>, <%= @rema1000.bounds %>);">Rema 1000</li>
          </ul>
        </div>
        <div class="card card-body background_blue">
          <div><%= t('fjerdingen.restaurants')%></div>
          <ul>
            <li class="butikker" onclick="goToByScroll('map'); butikkRute(<%= @sudost.polyline %>, <%= @sudost.bounds %>);">Südøst</li>
            <li class="butikker" onclick="goToByScroll('map'); butikkRute(<%= @freddy.polyline %>, <%= @freddy.bounds %>);">Freddy Fuego Hausmannsgate</li>
          </ul>
        </div>
        <div class="card card-body background_blue">
          <div><%= t('fjerdingen.fastfood')%></div>
          <ul>
            <li class="butikker" onclick="goToByScroll('map'); butikkRute(<%= @burgerking.polyline %>, <%= @burgerking.bounds %>);">Burger King Torggata</li>
            <li class="butikker" onclick="goToByScroll('map'); butikkRute(<%= @dominos.polyline %>, <%= @dominos.bounds %>);">Dominos - Schousplass</li>
          </ul>
        </div>
      </div>
      <!-- KART -->
      <div class="col-md-6 col-lg-6 col-12 ml-md-5 ml-lg-5 card background_blue mt-3 mt-md-0">
        <%= render 'home/campus_map' %>
      </div>
    </div>
  </div>
  <!-- PRAKTISK INFO -->
  <div class="card card-body background_grey mt-5 mb-5">
    <div class="row pt-5 pb-3">
      <div class="col-md-4 col-lg-4 col-12">
        <h1>Auditorium</h1>
        <p><%= t('fjerdingen.auddesc')%></p>
      </div>

      <div class="col-md-4 col-lg-4 col-12">
        <h1><%= t('fjerdingen.cantine')%></h1>
        <p><%= t('fjerdingen.cantinedesc')%></p>
        <p><%= t('Kvadraturen.weekdays')%> 10:00-15:00</p>
      </div>

      <div class="col-md-4 col-lg-4 col-12">
        <h1><%= t('fjerdingen.bar')%></h1>
        <p><%= t('fjerdingen.bardesc')%></p>
        <p><%= t('fjerdingen.thursday')%>: 05:00-12:00<br>
        <%= t('fjerdingen.friday')%>: 03:00-12:00</p>
      </div>
    </div>
  </div>
</div> <!-- END BODY DIV -->

<script type="text/javascript">
    if(window.google) {
        campus();
    } else {
        $.ajax("https://maps.googleapis.com/maps/api/js?key=AIzaSyDeuhvsD4Oh7u3UNHNmrdtLvlDpdg1uygE&libraries=places&callback=<%= @callback %>", {
            crossDomain: true,
            dataType: 'script'
        });
    }
</script>